/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

section#services-section {
	display: grid;
	gap: 64px;


	header {
		display: grid;
		gap: 8px;
		text-align: center;

		.tag {
			border-radius: 6px;
			border-right: 1px solid #1A4553;
			border-left: 1px solid #1A4553;
			padding: 4px 12px;
			justify-content: center;
			align-items: center;
			width: fit-content;
			justify-self: center;
			font-size: 14px;
		}

		h2 {
			margin-bottom: 8px;
			color: #1A4553;
			font-size: 32px;
			font-weight: 500;

		}
	}

	.cards-wrapper {
		display: grid;
		gap: 24px;

		.card-wrapper {
			display: flex;
			gap: 12px;
			border-radius: 24px;
			border: 1px solid #EEE;
			background: #FFF;
			width: 100%;

			@media (width <=778px) {
				flex-direction: column;
			}


			.text-wrapper {
				padding: 24px;
				display: grid;
				gap: 16px;
				position: relative;
				width: calc(100% - 24px);

				.card-heading {
					color: #1A4553;
					font-size: 24px;
					font-weight: 400;
				}

				.buttons-wrapper {
					margin-top: 16px;
					display: flex;
					gap: 24px;
					flex-wrap: wrap;

					@media (width <=778px) {
						flex-direction: column;
						justify-items: center;
					}
				}

				.icon {
					position: absolute;
					top: 50%;
					right: 0px;
					transform: translate(70%, -50%);
					border-radius: 500px;
					padding: 16px;
					background: #DDF6FE;
					border: 6px solid #FFF;

					@media (width <=778px) {
						top: unset;
						left: 50%;
						bottom: 0px;
						transform: translate(-50%, 75%);
					}
				}
			}

			.image {
				width: 317px;
				aspect-ratio: 16/9;
				object-fit: cover;
				border-radius: 24px;

				@media (width <=778px) {
					width: 100%;
				}
			}

			&.additional-wrapper-styles {

				.image {
					order: -1;
				}

				.text-wrapper {
					.icon {
						left: 0px;
						transform: translate(-70%, -50%);

						@media (width <=778px) {
							top: 0px;
							left: 50%;
							transform: translate(-50%, -75%);
						}
					}
				}
			}
		}
	}

	h3,
	p {
		margin: unset !important;
	}
}


.custom-button {
	width: fit-content;
	display: flex;
	padding: 8px 16px 8px 20px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	flex: 1 0 0;
	align-self: stretch;
	border-radius: 8px;
	border: 1px solid #5D9AAF;
	background: #164352;
	color: #F9FDFF;
	font-size: 16px;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	div {
		align-self: center;
		display: grid;
		justify-self: center;
	}

	&.secondary {
		background: #FFF;
		border: 1px solid #A4C8D4;
		color: #1A4553;
	}
}