/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

section#detailed-employees-section {
	display: grid;
	gap: 64px;
	align-items: center;

	@media (width < 1000px) {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	h2,
	p,
	a {
		margin: unset !important;
		color: #1A4553;
	}

	h2 {
		font-size: 24px;
		font-weight: 600;
	}

	.employee-wrapper {
		display: flex;
		gap: 48px;
		flex-wrap: wrap;
		justify-content: center;

		&.odd {
			flex-direction: row-reverse;
		}

		img {
			max-width: 280px;
			height: auto;
			width: 100%;
			border-radius: 32px;
			border: 2px solid #DDF6FE;
			max-height: 320px;
		}

		.description-wrapper {
			display: grid;
			gap: 16px;
			align-items: center;

			.paragraph {
				display: grid;
				font-size: 16px;
				color: #1A4553;
				font-weight: 400;
			}

			.tags-wrapper {
				display: flex;
				flex-wrap: wrap;
				gap: 16px;

				.tag {
					color: #1A4553;
					font-size: 16px;
					font-weight: 400;
					position: relative;
					padding: 8px 16px 8px 14px;
					border-radius: 500px;
					border: 1px solid #B9DAE5;
					background: #F1FCFF;
					gap: 6px;
					align-items: center;
					display: flex;
					margin: unset !important;
					text-decoration: none;

					&::before {
						content: '';
						display: inline-block;
						width: 9px;
						height: 9px;
						background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none"><g filter="url(%23filter0_f_5625_2698)"><circle cx="4.5" cy="4.5" r="3" fill="white"/><circle cx="4.5" cy="4.5" r="2.76827" stroke="%2300D9FF" stroke-width="0.463468"/></g><circle cx="4.49891" cy="4.49891" r="2.69902" fill="%237CD6D9" stroke="%235091A7" stroke-width="0.599782"/></svg>') no-repeat center;
						background-size: contain;
					}
				}


			}

			.button {
				margin-top: 16px;
				padding: 8px 16px 8px 0px;
				display: flex;
				gap: 8px;
				color: #00A6E0;
				align-items: center;
				text-decoration: none;
				font-size: 16px;
				width: fit-content;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.tooltip-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px; // Space between elements
		padding: 16px;
		border-radius: 8px;
		max-width: 223px;
		justify-self: center;

		.tooltip {
			width: fit-content;
			left: var(--currentPercentile);
			background-color: #1A4553; // Dark background for the tooltip
			font-size: 14px;
			font-weight: bold;
			padding: 2px 6px;
			border-radius: 6px;
			position: relative;
			align-self: start;
			transform: translateX(-50%);

			p {
				margin: 0;
				color: #F9FDFF;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0px; // Adjust to align with the tooltip
				left: 50%;
				transform: rotate(-45deg) translateX(-50%);
				border-radius: 2px;
				width: 6px;
				height: 6px;
				background: #1A4553;
			}
		}

		.progress-bar-wrapper {
			width: 100%;
			height: 4px; // Height of the progress bar
			background-color: #87C2DF; // Light gray for the background track
			border-radius: 4px;
			overflow: hidden; // Ensures the bar doesn't overflow its wrapper

			div {
				height: 100%;
				background-color: #1A4553; // Color of the progress indicator
				transition: width 0.3s ease; // Smooth animation for progress changes
				width: var(--currentPercentile);
			}
		}

		.text {
			text-align: center;

			.load-more {
				display: inline-flex;
				align-items: center;
				font-size: 16px;
				font-weight: 400;
				color: #1A4553;
				cursor: pointer;
				padding: 5px;
				background: unset;
				border: unset;

				&:hover {
					text-decoration: underline;
				}

				svg {
					margin-left: 4px; // Space between text and arrow icon
					font-size: 12px;
				}
			}
		}
	}
}