/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

section#employees-section {
	display: flex;
	gap: 96px;
	justify-content: center;
	@media (width < 999px) {
		flex-direction: column;
		align-items: center;
	}

	.elipses {
		position: relative;
		min-width: 500px;
		width: 500px;
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (width <=500px) {
			width: 300px;
			min-width: unset;
			height: 300px;
		}

		/* Ellipses as decorative elements */
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			border: 5px solid #DDF6FE;
			/* Color of the ellipses */
			border-radius: 50%;
			opacity: 0.5;
			transform: scale(0.8);

		}

		.circle-right {
			position: absolute;
			width: 50%;
			height: 50%;
			border: 5px solid #DDF6FE;
			left: 50%;
			border-radius: 50%;
			opacity: 0.5;
			transform: scale(0.8) translate(-15%, 0%);
		}

		.circle-bottom {
			position: absolute;
			width: 50%;
			height: 50%;
			border: 5px solid #DDF6FE;
			top: 50%;
			border-radius: 50%;
			opacity: 0.5;
			transform: scale(0.8) translate(0%, -11%);
		}

		.circle-left {
			position: absolute;
			width: 50%;
			height: 50%;
			border: 5px solid #DDF6FE;
			right: 50%;
			border-radius: 50%;
			opacity: 0.5;
			transform: scale(0.8) translate(15%, 0%);
		}

		.circle-top {
			position: absolute;
			width: 50%;
			height: 50%;
			border: 5px solid #DDF6FE;
			bottom: 50%;
			border-radius: 50%;
			opacity: 0.5;
			transform: scale(0.8) translate(0%, 11%);
		}
	}

	.logo {
		position: absolute;
		width: 100px;
		height: 100px;
		padding: 20px;
		object-fit: cover;
		z-index: 2;
		border-radius: 500px;
		border: 5px solid rgba(195, 222, 231, 0.50);
		background: #FFF;

		@media (width <=500px) {
			width: 80px;
			height: 80px;
			padding: 10px;
		}
	}

	.employee-container {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.employee-image {
		position: absolute;
		width: 120px;
		height: 120px;
		border-radius: 20px;
		object-fit: cover;
		border: 2px solid #DDF6FE;

		@media (width <=500px) {
			width: 80px;
			height: 80px;
		}
	}

	/* Positioning employee images around the central logo */
	.employee-image:nth-child(1) {
		top: 15%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.employee-image:nth-child(2) {
		top: 30%;
		right: 15%;
		transform: translate(50%, -50%);
	}

	.employee-image:nth-child(3) {
		bottom: 30%;
		right: 15%;
		transform: translate(50%, 50%);
	}

	.employee-image:nth-child(4) {
		bottom: 15%;
		left: 50%;
		transform: translate(-50%, 50%);
	}

	.employee-image:nth-child(5) {
		bottom: 30%;
		left: 15%;
		transform: translate(-50%, 50%);
	}

	.employee-image:nth-child(6) {
		top: 30%;
		left: 15%;
		transform: translate(-50%, -50%);
	}

	.wrapper {
		display: grid;
		gap: 8px;
		align-items: center;
		align-content: center;

		.tag {
			border-radius: 32px;
			border-right: 1px solid #1A4553;
			border-left: 1px solid #1A4553;
			padding: 4px 12px;
			width: fit-content;
			font-size: 14px;
		}

		.custom-button {
			border-radius: 32px;
			margin-top: 32px;
			display: flex;
			@media (width <= 999px) {
				justify-self: center;
			}
		}

		>div {
			display: grid;
			gap: 16px;
		}

		h2 {
			color: #1A4553;
			font-size: 32px;
		}

		h2,
		p {
			margin: unset;
		}
	}
}