/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

a#custom-header-link {
	display: flex;
	align-items: center;
	gap: 4px;
	color: #1A96BF;
	font-size: 16px;
	text-decoration: none;
	padding:10px 0px;
	transition: all 0.4s ease-in-out;
	&:hover {
		text-decoration: underline;
	}
}