/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

section#blog-reference-section {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	@media (width < 999px) {
		flex-wrap: wrap;
	}

	header {
		display: flex;
		max-width: 400px;
		row-gap: 96px;
		column-gap: auto;
		flex-wrap: wrap;
		align-items: flex-start;

		@media (width <999px) {
			max-width: unset;
		}

		h2,
		p,
		h3 {
			margin: unset !important;
		}

		h2,
		h3 {
			font-weight: 500;
			color: #1A4553;
		}

		.wrapper {
			display: grid;
			gap: 8px;

			.tag {
				width: fit-content;
				border-radius: 32px;
				border-right: 1px solid #1A4553;
				border-left: 1px solid #1A4553;
				padding: 4px 12px;
				justify-content: center;
				align-items: center;
				font-size: 14px;
			}

			h2 {
				padding-bottom: 8px;

			}

		}

		.categories {
			display: grid;
			gap: 24px;
			padding: 32px;
			border-radius: 16px;
			background: #FFF;
			box-shadow: -219px 0px 61px 0px rgba(221, 246, 254, 0.00), -140px 0px 56px 0px rgba(221, 246, 254, 0.01), -79px 0px 47px 0px rgba(221, 246, 254, 0.05), -35px 0px 35px 0px rgba(221, 246, 254, 0.09);

			.categories-wrapper {
				display: flex;
				align-items: center;
				gap: 16px;
				flex-wrap: wrap;
			}

			.tag {
				color: #1A4553;
				font-size: 16px;
				font-weight: 400;
				position: relative;
				padding: 8px 16px 8px 14px;
				border-radius: 500px;
				border: 1px solid #B9DAE5;
				background: #F1FCFF;
				gap: 6px;
				align-items: center;
				display: flex;
				margin: unset !important;
				text-decoration: none;
				transition: text-decoration 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;

				&::before {
					content: '';
					display: inline-block;
					width: 9px;
					height: 9px;
					background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none"><g filter="url(%23filter0_f_5625_2698)"><circle cx="4.5" cy="4.5" r="3" fill="white"/><circle cx="4.5" cy="4.5" r="2.76827" stroke="%2300D9FF" stroke-width="0.463468"/></g><circle cx="4.49891" cy="4.49891" r="2.69902" fill="%237CD6D9" stroke="%235091A7" stroke-width="0.599782"/></svg>') no-repeat center;
					background-size: contain;
				}

				&:hover {
					text-decoration: underline;
					background: #1A4553;
					color: #F1FCFF;
				}
			}
		}
	}

	.blog-posts-wrapper {
		display: grid;
		gap: 24px;
		max-width: 734px;

		@media (width < 999px) {
			max-width: unset;
		}

		.blog-post {
			display: grid;
			grid-template-columns: 1fr 1fr;

			@media (width < 699px) {
				grid-template-columns: 1fr;
			}


			.image-wrapper {
				position: relative;
				width: calc(100% + 24px);

				@media (width < 699px) {
					width: 100%;
				}

				.reading-time {
					position: absolute;
					top: 10%;
					left: 10%;
					border-radius: 500px;
					border: 1px solid #A4C8D4;
					background: #DDF6FE;
					padding: 8px 16px 8px 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 8px;
					transform: translate(-10%, -50%);
					font-size: 16px;
				}

				img {
					width: 100%;
					height: 100%;
					border-radius: 24px;
					object-fit: cover;
				}
			}

			.blog-contents-wrapper {
				displaY: grid;
				gap: 24px;
				border: 1px solid #EEE;
				background: #FFF;
				padding: 24px;
				border-radius: 24px;
				z-index: 1;

				@media (width < 699px) {
					margin-top: -24px;
				}

				.wrapper {
					align-self: center;
				}

				.tags-wrapper {
					display: flex;
					flex-wrap: wrap;
					gap: 12px;

					.tag {
						display: flex;
						padding: 8px 14px;
						justify-content: center;
						align-items: center;
						border-radius: 500px;
						border: 1px solid #B9DAE5;
						background: #F1FCFF;
						color: #1A4553;
						text-align: center;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
					}
				}

				h2 {
					color: #1A4553;
					font-size: 20px;
					font-style: normal;
					font-weight: 400;
				}

				.custom-button {
					width: fit-content;
					display: flex;
					padding: 8px 16px 8px 20px;
					justify-content: center;
					align-items: center;
					gap: 8px;
					flex: 1 0 0;
					align-self: stretch;
					border-radius: 32px;
					border: 1px solid #5D9AAF;
					background: #164352;
					color: #F9FDFF;
					font-size: 16px;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}

					div {
						align-self: center;
						display: grid;
						justify-self: center;
					}

					&.secondary {
						background: #FFF;
						border: 1px solid #A4C8D4;
						color: #1A4553;
					}
				}
			}
		}
	}
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 20px 0;
}

.pagination ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.pagination ul li {
	margin: 0 5px;
}

.pagination ul li a,
.pagination ul li span {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #324C4D;
	background-color: #F9FDFF;
	border: 1px solid #324C4D;
	border-radius: 4px;
	font-size: 14px;
	transition: all 0.3s ease;
}

.pagination ul li a:hover,
.pagination ul li a:focus,
.pagination ul li .current {
	color: #F9FDFF;
	background-color: #324C4D;
	border-color: #324C4D;
	font-weight: bold;
}

.pagination ul li.disabled span {
	color: #b0b0b0;
	background-color: #f0f0f0;
	border-color: #b0b0b0;
	cursor: not-allowed;
}

.pagination ul li:first-child a {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination ul li:last-child a {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (max-width: 600px) {

	.pagination ul li a,
	.pagination ul li span {
		padding: 8px 10px;
		font-size: 12px;
	}
}