/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

section#cta-with-bg {
	border-radius: 24px;
	background: #164352;
	border: 1px solid #B9DAE5;

	@media (width < 999px) {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	.section-wrapper {
		padding: 32px;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		overflow: hidden;

		@media (width <=778px) {
			flex-direction: column;
		}
	}

	header {
		display: grid;
		gap: 16px;
		max-width: 600px;
	}

	h2,
	p {
		color: #DDF6FE;
		margin: unset !important;
	}

	h2 {
		font-size: 32px;
		font-weight: 400;
	}

	p {
		font-size: 16px;
		font-weight: 400;
	}

	.lotus-icon {
		position: absolute;
		right: 25%;
		bottom: 0;

		@media (width <=500px) {
			right: 20px;
		}
	}

	.custom-button {
		display: grid;
		justify-content: center;
		align-items: center;
		gap: 8px;
		padding: 8px 16px 8px 20px;
		border-radius: 8px;
		background: #FFF;
		border: unset;
		flex: unset;
		color: #1A4553;
		font-size: 16px;
		justify-items: center;
		z-index: 2;
		text-decoration: none !important;

		@media (width <=778px) {
			justify-self: center;
		}

		&:after {
			background-color: #1A4553;
		}
	}
}