/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

section#hero-contact-section {

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		padding: clamp(16px, 5vw, 48px) clamp(16px, 4vw, 32px);

		h1,
		p {
			margin: unset !important;
			color: #1A4553;
		}

		p {
			font-size: 16px;
			font-weight: 400;
		}

		.big-icon {
			max-width: 371px;
			height: auto;
			width: 100%;
		}

		.custom-button {
			margin-top: 20px;
			width: fit-content;
			display: flex;
			padding: 8px 16px 8px 20px;
			justify-content: center;
			align-items: center;
			gap: 8px;
			flex: 1 0 0;
			align-self: stretch;
			border-radius: 32px;
			border: 1px solid #5D9AAF;
			background: #164352;
			color: #F9FDFF;
			font-size: 16px;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			div {
				align-self: center;
				display: grid;
				justify-self: center;
			}

			&.secondary {
				background: #FFF;
				border: 1px solid #A4C8D4;
				color: #1A4553;
			}
		}

		header {
			display: grid;
			gap: 20px;
		}
	}
}