/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

section#contact-form-section {
	display: flex;
	flex-wrap: wrap;
	gap: 64px;
	justify-content: space-between;

	.data-wrapper {
		display: flex;
		flex-direction: column;
		gap: 64px;

		header {
			display: grid;
			gap: 8px;
			max-width: 600px;

			.tag {
				border-radius: 32px;
				border-right: 1px solid #1A4553;
				border-left: 1px solid #1A4553;
				padding: 4px 12px;
				width: fit-content;
				font-size: 14px;
			}

			p {
				padding-top: 8px;
			}
		}

		h2 {
			color: #1A4553;
			font-size: 32px;
		}

		h2,
		p {
			margin: unset !important;
		}

		>div {
			display: grid;
			gap: 12px;

			>div {
				display: flex;
				gap: 32px;
				flex-wrap: wrap;


				span {
					display: flex;
					gap: 6px;
					align-items: center;
				}

				.icon {
					padding: 8px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 500px;
					background: #DDF6FE;
				}

				button {
					padding: 2px 6px;
					justify-content: center;
					align-items: center;
					border-radius: 500px;
					border: 1px solid #B9DAE5;
					background: #DDF6FE;
					color: #1A4553;
					font-size: 14px;
					font-weight: 400;
					transition: all 0.2s ease-in-out; // Smooth transition for hover effects

					&:hover {
						cursor: pointer;
						background: #c5edf9; // Slightly darker background on hover
						border-color: #9ccdda; // Slightly darker border color
						box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Add a subtle shadow
					}

					&:active {
						transform: scale(0.95); // Shrink slightly on click
						box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); // Reduce shadow on active
					}

					&:focus {
						outline: none; // Remove default outline
						box-shadow: 0 0 0 3px rgba(185, 218, 229, 0.5); // Custom focus ring
					}
				}
			}
		}
	}

	.contact-form-wrapper {
		max-width: 533px;
		display: grid;
		justify-items: center;

		label {
			color: #1A4553;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
		}

		input {
			border-radius: 24px;
			border: 1px solid #B9DAE5;
			background: #DDF6FE;
			padding: 10px 24px;
			color: #1A4553;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			width: 500px;

			@media (width < 700px) {
				width: 230px;
			}
		}

		textarea {
			border-radius: 24px;
			border: 1px solid #B9DAE5;
			background: #DDF6FE;
			padding: 12px 24px;
			font-size: 16px;
			width: 500px;

			@media (width < 700px) {
				width: 230px;
			}
		}

		/* Styling for the label and checkbox container */
		label:has(input[type="checkbox"]) {
			display: flex;
			align-items: center;
			gap: 10px;
			/* Adds space between the checkbox and text */
			font-family: Arial, sans-serif;
			font-size: 14px;
			cursor: pointer;
			/* Makes the label clickable */
		}

		/* Styling for the checkbox */
		input[type="checkbox"] {
			appearance: none;
			/* Hides the default browser checkbox */
			width: 30px;
			height: 30px;
			border: 1px solid #B9DAE5;
			/* Set the border color */
			border-radius: 5px;
			/* Add rounded corners */
			background-color: #f0f8ff;
			/* Light background color */
			cursor: pointer;
			/* Changes cursor to pointer on hover */
			transition: all 0.3s ease;
			/* Smooth transitions */
			padding: unset;
		}

		/* Styling when the checkbox is checked */
		input[type="checkbox"]:checked {
			background-color: #e0f7ff;
			/* Change background when checked */
			background: #DDF6FE;
			/* Change border color when checked */
			position: relative;
		}

		input[type="checkbox"]:checked::before {
			content: "✔";
			/* Add a checkmark */
			color: #324C4D;
			font-size: 18px;
			position: absolute;
			top: 5px;
			left: 8px;
		}

		/* Add hover effect for the checkbox */
		input[type="checkbox"]:hover {
			border: 1px solid #B9DAE5;
			border-radius: 4px;

			/* Darker border on hover */
			background-color: #e0f7ff;
			background: #DDF6FE;
		}

		#phone-number>span {
			position: relative;
		}

		#phone-number>span>input {
			padding-left: 46px;
			width: 478px;

			@media (width < 700px) {
				width: 208px;
			}
		}

		#phone-number>span::before {
			content: '+48 |';
			position: absolute;
			font-size: 16px;
			color: #1A4553;
			top: -3.2px;
			left: 10px;
			font-style: normal;
			font-weight: 500;
		}

		a {
			text-decoration: none !important;
			position: relative;
			margin: 4px;
		}

		a::after {
			content: "";
			position: absolute;
			bottom: 0px;
			width: 0;
			height: 0.5px;
			background-color: #1A4553;
			transition: width 0.3s ease-in-out;
			left: 0px;
		}

		a:hover::after {
			width: 100%;
		}

		input[type="submit"] {
			width: 550px;

			@media (width < 700px) {
				width: 280px;
			}
		}

		.wpcf7-response-output {
			/* Light red background for error */
			color: #d9534f;
			/* Red color for text */
			border: 1px solid #f5c6cb;
			/* Subtle border matching the theme */
			border-radius: 6px;
			font-size: 14px;
			/* Slightly smaller text for subtlety */
			font-weight: 500;
			/* Subtle shadow for depth */
			text-align: center;
			/* Center-align the text */
		}


	}

	.custom-button {
		padding: 8px 16px 8px 20px;
		border-radius: 32px;
		border: 1px solid #5D9AAF;
		background: #164352;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: 8px;
		color: white;
		font-size: 16px;
		cursor: pointer;
		transition: background 0.3s, transform 0.2s;
		position: relative;

		&::before {
			content: "";
			display: inline-block;
			width: 15px;
			height: 16px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='16' viewBox='0 0 15 16' fill='none'%3E%3Cpath d='M12.9879 8.33166L8.76914 12.5504C8.68118 12.6384 8.56189 12.6878 8.4375 12.6878C8.31311 12.6878 8.19382 12.6384 8.10586 12.5504C8.0179 12.4625 7.96849 12.3432 7.96849 12.2188C7.96849 12.0944 8.0179 11.9751 8.10586 11.8871L11.5248 8.46877H2.34375C2.21943 8.46877 2.1002 8.41938 2.01229 8.33147C1.92439 8.24357 1.875 8.12434 1.875 8.00002C1.875 7.8757 1.92439 7.75647 2.01229 7.66856C2.1002 7.58065 2.21943 7.53127 2.34375 7.53127H11.5248L8.10586 4.11291C8.0179 4.02495 7.96849 3.90566 7.96849 3.78127C7.96849 3.65688 8.0179 3.53758 8.10586 3.44963C8.19382 3.36167 8.31311 3.31226 8.4375 3.31226C8.56189 3.31226 8.68118 3.36167 8.76914 3.44963L12.9879 7.66838C13.0315 7.71191 13.066 7.76361 13.0896 7.82051C13.1132 7.87742 13.1254 7.93842 13.1254 8.00002C13.1254 8.06162 13.1132 8.12261 13.0896 8.17952C13.066 8.23642 13.0315 8.28812 12.9879 8.33166Z' fill='%23F9FDFF'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	.contact-form-wrapper {
		position: relative;
	}

	.spinner {
		display: none;
		width: 40px;
		height: 40px;
		border: 4px solid #5D9AAF;
		border-top: 4px solid #164352;
		border-radius: 50%;
		animation: spin 1s linear infinite;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 20;
	}

	.contact-form-wrapper.loading form {
		filter: blur(2px);
		pointer-events: none;
	}

	.contact-form-wrapper.loading .spinner {
		display: block;
	}


	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}

	.wpcf7-spinner {
		display: none !important;
	}
}