/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

section#cta-section {
	display: flex;
	gap: 12px;
	justify-content: center;


	@media (width < 999px) {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	@media (width <=778px) {
		flex-direction: column;
	}

	.heading {
		padding: 48px 24px;
		margin: unset !important;
		border-radius: 24px;
		border: 1px solid #EEE;
		width: 100%;
		display: grid;
		align-items: center;
		color: #1A4553;
		font-size: 24px;

		@media (width <=778px) {
			width: auto;
		}
	}

	.button-wrapper {
		width: 317px;
		padding: 48px 68px;
		border-radius: 24px;
		border: 1px solid #B9DAE5;
		background: #DDF6FE;
		position: relative;
		text-decoration: none;

		@media (width <=778px) {
			width: auto;
			padding: 24px;
		}

		>p {
			justify-self: center;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 0;
				height: 0.5px;
				background-color: rgb(26, 69, 83);
				transition: width 0.3s ease-in-out;
			}
		}

		&:hover>p {
			text-decoration: none !important;

			&::after {
				width: 100%;
			}
		}
	}

	.icon {
		left: 0px;
		top: 50%;
		transform: translate(-55%, -50%);
		position: absolute;
		border-radius: 500px;
		padding: 16px;
		background: #DDF6FE;
		border: 6px solid #FFF;

		@media (width <=778px) {
			top: 0px;
			left: 50%;
		}

	}
}