/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

section#enumerated-tiles-section {
	display: grid;
	gap: 48px;
	justify-content: center;
	justify-items: center;

	@media (width < 1000px) {
	}

	h2,
	p {
		color: #1A4553;
		margin: unset !important;
	}

	header {
		display: grid;
		max-width: 620px;
		gap: 8px;
		align-items: center;
		text-align: center;

		h2 {
			margin-bottom: 8px;
		}

		.tag {
			font-size: 14px;
			padding: 4px 12px;
			justify-content: center;
			border-radius: 32px;
			border-right: 1px solid #1A4553;
			border-left: 1px solid #1A4553;
			width: fit-content;
			display: grid;
			justify-self: center;
		}
	}

	.tiles-wrapper {
		display: grid;
		column-gap: 32px;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		align-items: start;

		@media (width < 1000px) {
			grid-template-columns: 1fr;
			gap: 16px;
		}

		.tile {
			display: grid;
			gap: 15px;
			padding: 24px;
			border-radius: 24px;
			width: calc(100% - 48px);

			h2 {
				font-size: 24px;
			}

			p {
				font-size: 16px;
			}

			&.green {
				border: 1px solid #B9DAE5;
				background: #DDF6FE;
			}

			&.white {
				border: 1px solid #B9DAE5;
				background: #FFF;
			}

			&.top.additional-space {
				margin-top: 48px;

				@media (width < 1000px) {
					margin-top: unset;
				}
			}

			&.bottom:not(.additional-space) {
				margin-top: 48px;

				@media (width < 1000px) {
					margin-top: unset;
				}
			}
		}

		.brain-icon {
			grid-column: 1/4;

			@media (width < 1000px) {
				grid-column: unset;
			}
		}
	}

	.custom-button {
		width: fit-content;
		display: flex;
		padding: 8px 16px 8px 20px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		flex: 1 0 0;
		align-self: stretch;
		border-radius: 32px;
		border: 1px solid #5D9AAF;
		background: #164352;
		color: #F9FDFF;
		font-size: 16px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		div {
			align-self: center;
			display: grid;
			justify-self: center;
		}

		&.secondary {
			background: #FFF;
			border: 1px solid #A4C8D4;
			color: #1A4553;
		}
	}
}